{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.css' %}">  
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Nosotros</h1>
                <table id="example" class="display">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Posición</th>
                            <th>Oficina</th>
                            <th>Edad</th>
                            <th>Fecha de inicio</th>
                            <th>Salario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>25-04-2011</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>25-07-2011</td>
                            <td>$170,750</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/dataTables.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    url: '/static/json/es-MX.json',
                }
            });
        });
    </script>
</body>

</html>